<div class="top">
<h2 class="title">Editing Book</h2>
<% if @book.errors.any? %>
<p>error</p>
  <div class="alert alert-warning">
    <ul>
      <% @book.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_for(@book) do |f| %>

<p class="new">Title</p>
<%= f.text_field :title %>

<p class="new">Body</p>
<%= f.text_area :body %>

<br><%= f.submit 'Update Book' %></br>
<%= link_to "Show", book_path(@book), class:"switch" %>
<p class="break">|</p>
<%= link_to "Back","/books", class:"switch" %>

<% end %>
